body {
  background-color: #282c34;
  color: #fff;
  text-align: center;
}

ul {
  text-align: center;
}

li,
div.task {
  list-style: none;
  font-size: 3rem;
  width: 50%;
  padding: 10px;
  margin: 0 auto;
  border-bottom: 1px solid silver;
}
